[Unit]
Description=irrpi - Internet Remote Raspberry Pi

[Service]
Type=simple

#put your working directory here
WorkingDirectory=/home/pi/programming/irrpi
#and the script you want to run when system starts up here
ExecStart=/home/pi/programming/irrpi/check.sh

[Install]
WantedBy=multi-user.target

